a.fast_prepare_index_button-blue, a.fast_prepare_index_button-green, a.fast_prepare_index_button-red {
    display: block;        /* 将按钮显示为内联块元素 */
    padding: 20px 30px;           /* 按钮的内边距 */
    font-size: 14px;              /* 字体大小 */
    color: white;                 /* 字体颜色 */
    border-radius: 5px;           /* 圆角 */
    text-decoration: none;        /* 去掉文本下划线 */
    margin-right: 15px;           /* 按钮之间的间距 */
    margin-bottom: 10px;          /* 按钮底部间距（适应换行时） */
    border: 1px solid;            /* 边框 */
    transition: transform 0.2s ease, opacity 0.2s ease; /* 添加过渡效果 */
}

a.fast_prepare_index_button-blue {
    display: inline-block;
    padding: 10px 20px;
    font-size: 14px;
    color: white;
    background-color: #4fa3f7;  /* 蓝色 */
    border-radius: 5px;
    text-decoration: none;
    border: 1px solid #58a7f7;
}

a.fast_prepare_index_button-green {
    display: inline-block;
    padding: 10px 20px;
    font-size: 14px;
    color: white;
    background-color: #91fc91;  /* 绿色 */
    border-radius: 5px;
    text-decoration: none;
    border: 1px solid #91fc91;
}

a.fast_prepare_index_button-red {
    display: inline-block;
    padding: 10px 20px;
    font-size: 14px;
    color: white;
    background-color: #f5a88c;  /* 红色 */
    border-radius: 5px;
    text-decoration: none;
    border: 1px solid #f5a88c;
}

a.fast_prepare_index_button-blue:hover, a.fast_prepare_index_button-green:hover, a.fast_prepare_index_button-red:hover {
    opacity: 0.8;  /* 鼠标悬停时，按钮变得稍暗 */
    transform: scale(1.1);        /* 鼠标悬停时的放大效果 */
}